*{
    padding: 0; 
    box-sizing: border-box;
}
/* Navigation bar */
.logo{
    width: 200px;
    height: 50px;
    padding-top: 5px;
    padding-left: 30px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li{
    display: inline;
    text-align: right;
    font-size: 18px;
    padding: 6px 8px;
}
.navi {
    background-color: rgb(204, 206, 204);
    display:flex;
    justify-content: space-between;
}
nav ul li a:hover{
    background-color: rgb(114, 106, 106);
    color:rgb(253, 249, 242);
    border-radius: 25px;
    padding: 6px;
}

/*banner*/
.banner{
    bacgroung-color: #0021a7;
    background-blend-mode: darken;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    padding: 100px 50px 100px 0;
}
.banner h1{
    font-size: 60px;
    font-weight: 700;
}
.banner_content{
    background:rgba(0,0,0,0.6);
    padding: 30px;
    animation: 1s scaleAnim 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scaleY(0);
}
@keyframes scaleAnim{
    0%{ transform: scaleY(0); opacity: 0;}
    100%{ transform: scaleY(1); opacity: 1;}
}
.social_links{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 22px;
}
.social_links li a{
    color: #fff;
}
.social_links li:hover a{
    colour: #f12626
}

/*about-section*/
.about-section{
    background: #2ce0ec;
    padding: 80px 20px;
}
.about-section h2{
    font-size: 40px;
    margin: 0 0 30px;
}
.container2{
    display: flex;
	justify-content: center;
	align-items: center;	
}
.container2 img{
    top: 190%;
	position: absolute;
	bottom: 0px;
	left: 50%;
	display: flex;
	z-index: 20;
	margin-top: 30px 	
	
}
.container2.about-box{
    margin: 10px 0px;
    text-align: center;
}
.container2 div img:hover{
    transform: scale(1.3);
}

.bdr-btm{
    position: relative;
    padding-bottom: 15px;
}
.bdr-btm::after{
    content: "";
    position:absolute;
    width: 50px;
    height: 3px;
    background-color: #f12626;
    left: 0%;
    top: 100%;
}
.bdr-btm.bdr-btm-center::after{
    left: 50%;
    margin-left: -25px;
}

.about-box{
    background: white;
    padding: 30px
}
.about-box ul{
    padding-left: 15px;
}
.about-box ul li{
    margin-bottom: 20px;
}
.about-box h3{
    margin-bottom: 20px;
}
.btn1{
    border: 0;
    display: inline-block;
    color: #fff;
    background-color: #a00861;
    padding: 11px 25px;
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 20px;
    min-height: 42px;
    outline: 0;
    width:auto;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
}

/*portfolio-section*/

.portfolio-section{
    padding: 80px 0;
    background:rgb(114, 106, 106);
}
.portfolio-section h2{
    font-size: 40px;
    margin: 0 0 30px;
}
.portfolio-section .container1{
	padding-top: 0px;
	width: 60%;
	height: 80vh;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.portfolio-section .container1 .slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;	
}
.portfolio-section .container1 {
	margin-top: 0px;
	width: 100%;
	height: 70%;
	border-radius: 8px;
}

.portfolio-section .container1 ul{
    top: 300%;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform:translateX(-50%) ;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
	margin-top: 30px 
}
.portfolio-section .container1 ul li{
	list-style: none;
	cursor:pointer;
	margin-top: 40px;
}
.portfolio-section.container1 ul li img{
	width: 120px;
	margin-top: 0px;
	margin-bottom: 35px;
	margin: 5px 5px;
	height: 80px;
	transition: all 0.3s;
	
}
.portfolio-section.container1 ul li img:hover{
	transform: scale(1.3);
}

/* Registration section */
.mail{
    background: linear-gradient(135deg,#5cf017,#1ddcf5,#d314d3);
    width: auto;
    height: 350px;
    text-align: center;
    margin:auto;
}
.register{
    color:rgb(34, 17, 17);
    padding: 20px;
    
}

/* contact  section */
.contact-section{
    background:#382fbe;
}
.contact-section-left{
    padding: 40px 0;
}
.container4{
    display: flex;
	align-items: center;
    justify-content: space-around;	
}
.contact-box{
    padding: 0 50px;
    margin-bottom: 30px;
}
.contact-box:last-child{
    margin-bottom: 0px;
}
.contact-box h3{
    margin-bottom: 15px;
}
.contact-box a{
    color: #fff;
}
.contact-box i.fa{
    font-size: 30px;
    display: flex;
    padding: 0 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.contact-section-right{
    background-color: lightblue;
    padding: 40px 0;
}
.contact-section-right h2{
    margin-bottom: 30px;
}

.contact-me{
    display: flex;
    justify-content: center; 
}
.contact{
    background: linear-gradient(135deg,rgb(250, 119, 228),rgb(55, 120, 241),#13fafa);
    width: 500px;
    height: 350px;
}
.form{
    margin-left: 40px;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.put{
    width: 350px;
}
/* footer section */
.footer{
    background-color: rgb(161, 161, 161);
    padding: 20px 0;
}
.footer-con{
    margin: auto;
    width: 1170px;
}
.row0{
    display: flex;
    flex-wrap: wrap; 
}
ul{
    list-style: none;
}
.footer-col{
   width: 25%;
   padding: 0 30px;
   line-height: 30px;
}
.me{
    text-align: center;
    font-size: 15px;
}
.container5{
    display: flex;
    justify-content: space-evenly;
}
.container6{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px ;
}
.container5 div img:hover{
    transform: scale(1.3);
}
.container6 div img:hover{
    transform: scale(1.3);
}


